{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		        		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>		
		<title>Hôm nay ăn gì?</title>
		<link rel="shortcut icon" href="{% static 'hnag/img/favicon.ico' %}">
		<script>
			// Start with first post.
			let counter = 1;

			// Load posts 12 at a time.
			const quantity = 12;

			// When DOM loads, render the first 12 posts.
			document.addEventListener('DOMContentLoaded', load);

			// If scrolled to bottom, load the next 12 posts.
			window.onscroll = () => {
				if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
					load();
				}
			};

			// Load next set of posts.
			function load() {
				// Set start and end post numbers, and update counter.
				const start = counter;
				const end = start + quantity - 1;
				counter = end + 1;
				fetch(`/posts?start=${start}&end=${end}`)
                .then(response => response.json())
                .then(data => {
                    data.posts.forEach(function (item) {
						add_post(item, 'cardpost0')
					});
                })				
			};

			function loadSubMenu(index) {
				fetch(`/loadSubMenu?subMenuID=${index}`)
				.then(response => response.json())
				.then(data => {
					data.posts.forEach(function (item) {
						add_post(item, `cardpost${index}`)
					});
				}).then( () => {
					$(`#nav-link${index}`).attr('onclick', '')
				})
			}

			//Show modal whenever a card is clicked
			function showModal(e) {
				//alert('hello');
				
				const imgSrc = $(e).find("img").attr("src");
				const title = $(e).find("h5.card-title").html() 
							+ ' - ' + $(e).find("p.card-text").html();
				const url = $(e).find("a:hidden").attr("href");

				console.log(imgSrc)
				console.log(title)
				console.log(url)

				const modal = $("#detailModal");
				modal.find("img").attr("src", imgSrc); 
				modal.find("#modalUrl").attr("href", url);
				modal.find("h5.modal-title").html(title);

				modal.modal();
				e.preventDefault();
				return false;
			};

			// Add a new post with given contents to DOM.
			function add_post(contents, elementID) {

				const col = document.createElement('div');
				col.className = 'col-md-4 col-sm-6 col-12';
				col.style = 'margin-bottom: 15px;';

				//link to the main post
				const urlWrapper = document.createElement('a');
				// urlWrapper.href = "https://www.foody.vn/"+contents["url"]
				urlWrapper.onclick = () => {
					showModal(post)
				}
				urlWrapper.style = 'text-decoration: none; color: black;';

				// Create new post.
				const post = document.createElement('div');
				post.className = 'card';
				post.style = "height: 400px;"
				post.onclick = () => {
					showModal(post)
				}
				const post_img = document.createElement('img')
				post_img.className = 'card-img-top'
				post_img.src = contents["image"]
				post_img.alt = "Card image cap"

				const post_card = document.createElement('div')
				post_card.className = "card-body"

				const h5 = document.createElement('h5')
				h5.className = "card-title"
				h5.innerHTML = contents["name"];

				const rating = document.createElement('p')
				rating.className = "card-text"
				rating.innerHTML = `Rating: ${contents["rate"]}`

				const url = document.createElement('a')
				url.href = "https://www.foody.vn/"+contents["url"]
				url.hidden = true

				post_card.append(h5)
				post_card.append(rating)
				post_card.append(url)

				post.append(post_img)
				post.append(post_card)
				
				urlWrapper.append(post);
				col.append(urlWrapper);
				
				// Add post to DOM.
				
				document.querySelector(`#${elementID}`).append(col);
				// document.querySelector('#cardpost').append(document.createElement('br'));
			};
			
			function Search(){
				const content = document.getElementById("search").value;
				// document.getElementById('test').append(content);
				var list = document.getElementById('cardpost');
				while (list.hasChildNodes())
				{
					list.removeChild(list.firstChild);
				}
				fetch(`/search?search=${content}`)
				.then(response => response.json())
				.then(data => {
					document.querySelector('#cardpost').value = null;
					data.posts.forEach(add_post);
				})
			}
						
		</script>
	</head>
	<body>
		<div class="container">
			<!-- <nav class="navbar navbar-light bg-light"> -->
			<nav class="navbar navbar-light">
				<a class="navbar-brand d-flex" href="{% url 'index' %}">					
					<img src="{% static 'hnag/img/avatar.png' %}" style="height: 30px; border-right: 0.5px solid #333333;" class="pr-2" alt="">
					<div class="pl-2">Hôm nay ăn gì?</div>
				</a>									  
				<form class="form-inline my-2 my-lg-0">
				<!-- <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0"> -->
					<!-- {% csrf_token %} -->
					<input id="search"class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
					<button id="bt-search" class="btn btn-outline-primary my-2 my-sm-0" type="button" onclick="Search();">Search</button>
				</form>
				<form action="{% url 'logout' %}">					
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Log out</button>						
				</form>
			</nav>
			<div>Currently logged in as: {{ user.username }}</div>
			<!-- <div id="tes">
				<p>Hello</p>
				<div id="test"></div>
			</div>	 -->
			<div style="background-color: #f8f9fa;">
				<nav class="navbar navbar-light bg-light">
					<ul class="nav nav-tabs">
						<li class="nav-item" >
							<a id="nav-link0" class="nav-link active" data-toggle="tab" href="#main-menu">Recommend</a>
						</li>
						<li class="nav-item" >
							<a id="nav-link1" class="nav-link" data-toggle="tab" href="#menu1" onclick="loadSubMenu(1)">Rice</a>
						</li>
						<li class="nav-item" >
							<a id="nav-link2" class="nav-link" data-toggle="tab" href="#menu2" onclick="loadSubMenu(2)">Fastfood</a>
						</li>			
					</ul>
				</nav> 
				<!-- Modal -->
				<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-8">
											<img style="width:100%;">
										</div>
										<div class="col-md-4">
											<a id="modalUrl" target="_blank">Đến bài viết gốc</a>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div> -->
						</div>
					</div>
				</div> 
				<div class="tab-content">
					<div class="tab-pane active container" id="main-menu">
						<div class="card-deck" id="cardpost0">				
					
						</div> 						
					</div>
					<div class="tab-pane container" id='menu1'>
						<div class="card-deck" id="cardpost1">				
					
						</div> 	
					</div>
					<div class="tab-pane container" id="menu2">
						<div class="card-deck" id="cardpost2">				
					
						</div> 	
					</div>
				</div> 
			</div>			
		</div>		
	</body>
</html>
<script>
</script>