<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		        
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
		<script src="{{ url_for('static', filename='index.js') }}"></script>    
		<title>Hôm nay ăn gì?</title>
		<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
		<script>
			
		</script>
	</head>
	<body>
		<div class="container">
			<!-- <nav class="navbar navbar-light bg-light"> -->
			<nav class="navbar navbar-light">
				<a class="navbar-brand d-flex" href="#">
					<!-- <img src="{{url_for('static', filename='img/avatar.png')}}" width="30" height="30" class="d-inline-block align-top" alt=""> -->
					<!-- <img src="/static/img/avatar.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
					<img src="{{url_for('static', filename='img/avatar.png')}}" style="height: 30px; border-right: 0.5px solid #333333;" class="pr-2" alt="">
				  	<div class="pl-2">Hôm nay ăn gì?</div>
				</a>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
				</form>
				<form action="/login">
					<!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Login</button> -->
					<!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Register</button>				 -->
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Log out</button>						
				</form>
			</nav>	
			<div style="background-color: #f8f9fa;">
				<nav class="navbar navbar-light bg-light">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Recommend</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Rice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Drink</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Fastfood</a>
						</li>				
					</ul>
				</nav> 
				<nav class="navbar navbar-light bg-light">
					<div class="card-deck" id="cardpost">				
					
					</div>  
				</nav>   
			</div>			
		</div>
		
	</body>
</html>